#title {
    font-size: 50px;
    font-weight: bold;
    font-family: 'Helvetica', Arial, Lucida Grande, sans-serif;
    margin-bottom: 2px;
    width: 100%;
    /* word-break: break-all; */
    /* word-wrap: break-word; */
    /* overflow-wrap: break-word; */
}

#author {
    font-size: 30px;
    font-family: 'Helvetica', Arial, Lucida Grande, sans-serif;
    font-weight: normal;
    font-style: italic;
}

#content {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre-wrap;
}

#title,
#author,
#content {
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

#title::placeholder,
#author::placeholder,
#content::placeholder {
    color: rgb(120, 120, 120);
}

#title::placeholder {
    font-weight: bolder;

}

#title:hover::placeholder,
#author:hover::placeholder,
#content:hover::placeholder {
    color: rgb(180, 180, 180);

}

#title:focus,
#author:focus,
#content:focus {
    outline: none;
}

#submit {
    font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 4px 12px;
    margin: 0 0 15px;
    background-color: #fff;
    cursor: pointer;
}



textarea {
    resize: none;
}

#pageContent {
    display: block;
    position: relative;
    margin-left: 5%;
}

#formContent {
    margin-left: 5%;
    display: inline;
}

#publishDiv {
    display: inline;
}

body {
    margin-left: 5%;
}
