#title {
    font-size: 50px;
    font-weight: bolder;
}

#author {
    font-size: 30px;
}

#content {
    font-size: 20px;
}

#title,
#author,
#content {
    border: 0;
}

#title::placeholder,
#author::placeholder,
#content::placeholder {
    color: rgb(91, 91, 91);
}

#title::placeholder {
    font-weight: bolder;

}

#title:hover::placeholder,
#author:hover::placeholder,
#content:hover::placeholder {
    color: rgb(181, 181, 181);

}

#title:focus,
#author:focus,
#content:focus {
    outline: none;
}

#submit {
    font-family: CustomSansSerif, 'Lucida Grande', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 17px;
    color: #000;
    text-decoration: none;
    border: 2px solid #333;
    border-radius: 50px;
    text-transform: uppercase;
    padding: 4px 12px;
    margin: 0 0 15px;
    background-color: #fff;
    cursor: pointer;
}



textarea {
    resize: none;
}

#pageContent {
    display: block;
    position: relative;
    margin-left: 5%;
}

#formContent {
    margin-left: 5%;
    display: inline;
}

#publishDiv {
    display: inline;
}

body {
    margin-left: 5%;
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}